body {
    -webkit-box-shadow: 11px 12px 17px 1px rgba(255, 0, 0, 0.4);
-moz-box-shadow: 11px 12px 17px 1px rgba(255, 0, 0, 0.4);
box-shadow: 11px 12px 17px 1px rgba(255, 0, 0, 0.4);
    background-color: rgb(241, 93, 93), 224, 222;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    border: 2px solid red;
    border-radius: 20px;
    padding: 5px;
}
header {
    text-decoration: none;
    border-radius: 20px;
    background-color: #fa9999;
    height: 70px;
    padding: 20px;
}
.a1{
    color: #ff8800;
    margin: 0px;
    border: 0px solid black;
}
.a2 {
    color:#ff9500;
}
.a3 {
    color:#ffc300;
}
